<h1>{{currency.attributes?.code}}</h1>

<ul>
    <li>name: {{currency.attributes?.name}}</li>
    <li>currency_type: {{currency.attributes?.currency_type}}</li>
    <li>code_iso_numeric3: {{currency.attributes?.code_iso_numeric3}}</li>
    <li>code_iso_alpha3: {{currency.attributes?.code_iso_alpha3}}</li>
    <li>symbol: {{currency.attributes?.symbol}}</li>
    <li>native_symbol: {{currency.attributes?.native_symbol}}</li>
    <li>decimal_e: {{currency.attributes?.decimal_e}}</li>
    <li>category: {{currency.attributes?.category}}</li>
</ul>
